:root {
  --primary-color: #e61c5d;
  --yellow: #ffbd39;
  --black-text: #112b3c;
  --gray-text: #808080;
  --white-text: #fff;
  --box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.04);
}

/* Common CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  max-width: 1145px;
  margin: 0 auto;
}

.btn.primary-btn {
  font-size: 20px;
  font-weight: 500;
  color: var(--white-text);
  padding: 18px 24px;
  background-color: var(--primary-color);
  border-radius: 45px;
}
.primary-color {
  color: var(--primary-color);
}
.yellow-color {
  color: var(--yellow);
}
.section-title {
  font-size: 48px;
  color: var(--black-text);
  font-weight: 700;
}

.sub-title {
  font-size: 16px;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 4px;
}

/* Header CSS */
header {
  background: var(--white-text);
  box-shadow: var(--box-shadow);
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.header-logo img {
  width: 142px;
}

.navbar ul {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.navbar ul li a,
.header-cta a {
  color: var(--gray-text);
  font-size: 20px;
  position: relative;
  transition: all 0.5s;
}

.navbar ul li a::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 4px;
  background: var(--primary-color);
  border-radius: 30px;
  bottom: -6px;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, 0);
  transition: all 0.5s;
}

.navbar ul li.active a,
.navbar ul li a:hover {
  color: var(--black-text);
  font-weight: 500;
}

.navbar ul li.active a::after,
.navbar ul li a:hover::after {
  opacity: 1;
}

.login-btn {
  margin-right: 30px;
}

/* Hero section */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 84px 0px 0 0;
}

.hero-content h1 {
  font-size: 64px;
  font-weight: 900;
  line-height: 120%;
  color: var(--black-text);
  max-width: 570px;
}
.title-shape {
  position: relative;
  z-index: 1;
}
.title-shape img {
  position: absolute;
  left: 0%;
  bottom: 0;
  z-index: -1;
}

.hero-content p {
  font-size: 24px;
  color: var(--gray-text);
  margin: 32px 0;
  max-width: 470px;
}

.hero-search-input {
  display: flex;
  gap: 16px;
}

.hero-search {
  max-width: 470px;
  min-height: 80px;
  border-radius: 58px;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 27px;
}

.select-box label {
  font-size: 12px;
  font-weight: 600;
  color: var(--gray-text);
  margin-bottom: 6px;
  position: relative;
}
.select-box label::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-image: url("../icons/arrow-down.svg");
  top: 1px;
  right: -17px;
}

.select-box select {
  font-size: 12px;
  font-weight: 700;
  color: var(--black-text);
  border: none;
  display: block;
}

.search-devider {
  width: 1px;
  height: 24px;
  background: var(--gray-text);
}

.hero-submit button {
  background: var(--primary-color);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

/* About Us */
.about-section {
  padding: 120px 0px;
}
.about-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-content {
  padding-left: 134px;
}
.about-desc {
  font-size: 20px;
  color: var(--gray-text);
  line-height: 160%;
  margin: 24px 0;
}

.count-wrapper {
  display: flex;
  justify-content: space-between;
}

.count {
  font-size: 40px;
  font-weight: 700;
  color: var(--primary-color);
  display: block;
}
.count-title {
  font-size: 16px;
  color: var(--gray-text);
  max-width: 100px;
  display: block;
}

/* Toure places */
.place-section {
  padding-bottom: 60px;
}

.place-section .section-title {
  max-width: 591px;
}

.toure-places {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-top: 80px;
}

.tour-place-item {
  border-radius: 16px;
  box-shadow: var(--box-shadow);
}
.place-content {
  padding: 20px 24px 30px 24px;
}

.place-content h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 132%;
  color: var(--black-text);
}

.place-content p {
  font-size: 14px;
  color: var(--gray-text);
  margin: 8px 0;
}
.place-footer {
  display: flex;
  justify-content: space-between;
}

.place-footer span.price {
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-color);
  line-height: 132%;
}
.place-footer span:last-child {
  font-size: 12px;
  font-weight: 500;
  color: var(--gray-text);
  line-height: 132%;
}

/* Testimonial */
.testimonial-section {
  text-align: center;
  padding: 60px 0px;
  color: var(--black-text);
}
.testimonial-section .section-title {
  max-width: 591px;
  margin: 0 auto 80px auto;
}

.testimonials {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.testimonial-item {
  box-shadow: var(--box-shadow);
  padding: 46px 42px 42px 42px;
  position: relative;
}

.testimonial-item::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(../icons/quotetion.svg);
  top: -6%;
  right: 27px;
  background-repeat: no-repeat;
  background-size: contain;
}

.client-profile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.testimonial-item h4 {
  font-size: 18px;
  font-weight: 700;
}
.testimonial-item span {
  font-size: 14px;
  display: block;
  margin: 4px 0px;
}

.testimonial-item p {
  font-size: 14px;
  line-height: 133%;
  margin-top: 12px;
}
